@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">What to Eat</h1>
    <p>Need help choosing a recipe to cook for dinner tonight? You've come to the right place!</p>
</div>
